* {
    font-family: Roboto, sans-serif;
}

td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
}
th {
  background: lightblue;
  border-color: lightblue;
  padding: 16px;
}
